fastapi
uvicorn
pandas
pydantic
sqlalchemy
psycopg2-binary
python-multipart
python-dotenv
httpx
langgraph
langchain
langchain-core
langchain-groq
langchain-openai
rapidfuzz
ddgs
beautifulsoup4
lxml
pymupdf
qdrant-client
fastembed
